body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.link {
  color: #039be5;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.link-sent {
  color: #ff9800;
  text-decoration: none;
  list-style: none;
}
.link:hover {
  text-decoration: underline;
}

#game-table-wrapper .card,
#player-hand-wrapper .card {
  position: relative;
  width: 82px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid transparent;
  cursor: pointer;
  transition:
    transform 0.2s,
    border-color 0.2s;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#game-table-wrapper {
  margin-top: 10px;
}
#start-game-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
#game-table,
#player-hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#game-table {
  min-height: 150px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
#game-table-wrapper .card:hover,
#player-hand-wrapper .card:hover {
  transform: scale(1.1);
  border-color: #039be5;
}
.selection-card {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/img/selected.png");
  background-size: cover;
  border-color: #ff9800;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.card-selected {
  border-color: #ff9800 !important;
}
#player-turn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}
#score-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  gap: 30px;
}
#player1-score-list,
#player2-score-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #333;
}
#player-names-wrapper,
#player-score-wrapper {
  display: flex;
  flex-direction: row;
  min-width: 300px;
}

#player-score-wrapper {
  margin-bottom: 5px;
}
#player1-name,
#player2-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  width: 100%;
  font-weight: bold;
}
#player1-score,
#player2-score {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#player1-score-items,
#player2-score-items,
#player1-score-recke,
#player2-score-recke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#modals-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.modal-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 80px;
}
.modal-cards img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
#player1-total-score,
#player2-total-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
}
#player1-total-score span,
#player2-total-score span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.other-player-move {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.small-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 50px;
}
.small-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#toast-container {
  top: 10px !important;
  right: 10px !important;
}
#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 300px;
  min-width: 200px;
  transition: height 0.3s;
}
#chat-header {
  text-align: center;
  font-size: 12px;
  width: 100%;
}
#chat-header-btn {
  width: 100%;
}
#chat-messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
.chat-message-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.chat-message-left,
.chat-message-right {
  width: 80%;
  font-size: 12px;
  padding: 5px;
}
.chat-message-left {
  background-color: #eee;
}
.chat-message-right {
  background-color: #b3e5fc;
}
#chat-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-top: 1px solid #ccc;
  height: 30px;
}
#chat-button {
  height: 30px !important;
  line-height: 30px !important;
  padding: 0 5px !important;
}
#chat-button i {
  margin-left: 0 !important;
}
#chat-input-text {
  height: 30px !important;
  font-size: 12px !important;
}
